<!-- Main menu placeholder -->
{{> menu}}

<!-- Main content section -->
<section class="ui center aligned middle aligned segment">
  <div class="container">
    <!-- Text content container -->
    <div class="text-container">
      <!-- Welcome message -->
      <h2 class="text-content">Welcome to the All England Open Badminton Championships App, {{fullname}}!</h2>
      <!-- App description -->
      <p class="text-content">
        This app allows users to create and maintain a collection of All England Open medalists, introducing every champion and first runner-up, and detailing their earnings after the final match. With our app, you can learn more about badminton competitions and players around the world.
      </p>
      <!-- Read more button -->
      <a href="https://en.wikipedia.org/wiki/All_England_Open_Badminton_Championships">
         <button class="ui-button read-more">Read More Now 🫰 </button>
      </a>
      <!-- Like button -->
      <a href="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/i-know-you-like-it.gif?v=1708862171433">
         <button class="ui-button like">Like 👍 </button>
      </a>
      <!-- Unlike button -->
      <a href="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/god-damn-it-ryan-reynolds.gif?v=1708862263706">
         <button class="ui-button unlike">Unlike 👎 </button>
      </a>
      <!-- Placeholder image below buttons -->
      <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/Screenshot%202024-02-24%20at%2017.18.46.png?v=1708799803823" class="button-below-image">
    </div>
    <!-- Images container for the gallery -->
    <div class="images-container">
       <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/All-England-Badminton-Tournament.jpg?v=1708795849615" class="images-content">
       <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/81625426.webp?v=1708795844298" class="images-content">
       <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/download%20(1).jpeg?v=1708795852864" class="images-content">
       <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/images.jpeg?v=1708795856929" class="images-content">
    </div> 
  </div>
  <!-- Medalists announcement -->
  <p class="others">
        Your App Now Has The Following Medalists: 
  </p>
  <!-- Medalists statistics -->
  <div class="ui center aligned grid">
    <div class="twenty wide column">
      
        <div class="ui centered three statistics">
          <div class="statistic">
            <div class="value">
              <i class="red universal access icon"></i> 
            </div>
            <div class="label">
              {{displayNumCollections}} collections
            </div>
          </div>

          <div class="statistic">
            <div class="value">
              <i class="orange address book icon"></i> 
            </div>
            <div class="label">
              {{displayNumMedalists}} medalists
            </div>
          </div>    

          <div class="statistic">
            <div class="value">
              <i class="yellow chart bar icon"></i> 
            </div>
            <div class="label">
              {{displayAveMedalistsinCollections}} average medalists in the collection
            </div>
          </div>  
       </div>
    </div>
  </div>
    
  <div class="ui center aligned grid">
    <div class="twenty wide column">
      
      <div class="ui centered one statistics">
         <div class="statistic">
            <div class="value">
              <i class="blue plus square icon"></i> 
            </div>
            <div class="label">
              Largest Collection: {{displayLargestCollections}} 
            </div>
          </div>  
      </div>
    </div>
  </div>
       
 <div class="ui center aligned grid">
    <div class="twenty wide column">
      
      <div class="ui centered one statistics">
         <div class="statistic">
            <div class="value">
              <i class="green minus square icon"></i> 
            </div>
            <div class="label">
              Smallest Collection: {{displaySmallestCollections}} 
            </div>
          </div>  
      </div>
    </div>
  </div> 
  
</section>
